div#error-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 25vw;
  }
  
  div.container {
    display: flex;
    align-items: center;
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    text-align: center;
  
    img {
      width: 50vw;
    }
  
    div.container {
      padding-bottom: 5rem;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  @media (max-width: 600px) {
    text-align: center;
  
    img {
      width: 75vw;
    }
  
    div.container {
      padding-bottom: 5rem;
      flex-direction: column;
      justify-content: center;
    }
  
    h1 {
      font-size: 1.75rem;
    }
  }
}