div.text-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: text;

  --color: var(--colors-1-base);
  --font-size-medium: 1.2rem;
  --font-size-smaller: calc(var(--font-size-medium * 0.625));
  --size-s: calc(var(--font-size-medium) * 0.26);
  --size-m: calc(var(--font-size-medium) * 0.36);
  --size-l: calc(var(--font-size-medium) * 0.52);
  --top-active: -75%;

  &.big {
    --font-size-medium: 2.2rem;
    --top-active: -40%;
  }

  fieldset {
    width: 100%;
    padding: 0 var(--size-l) var(--size-s) 0;
    border: 0.1rem solid var(--color);
    border-radius: var(--size-s);
    position: relative;
    transition: border-color var(--transition-time), color var(--transition-time);

    &:has(input:focus) {
      border-width: 0.2rem;
      border-color: var(--color);
    }

    label, span {
      padding: 0 var(--size-s);
      pointer-events: none;
    }

    legend {
      max-width: 0.01px;
      margin-left: var(--size-m);
      font-size: var(--font-size-smaller);
      text-wrap: nowrap;
      opacity: 0;
      transition: max-width var(--transition-time);
    }

    input {
      width: 97%;
      border: none;
      font-size: var(--font-size-medium);
      color: var(--colors-text-primary);
      outline: none;
      padding-left: var(--size-l);
      background-color: transparent;

      &::placeholder {
        color: transparent;
      }

      &:focus+legend, &:not(:placeholder-shown)+legend {
        max-width: 100%;
      }

      &:focus~.placeholder {
        color: var(--color);
      }

      &:focus~.placeholder, &:not(:placeholder-shown)~.placeholder {
        font-size: var(--font-size-smaller);
        top: var(--top-active);
      }

      &.invalid~.placeholder {
        color: var(--colors-semantic-error-base);
      }
    }

    .placeholder {
      margin-left: var(--size-m);
      font-size: var(--font-size-medium);
      font-weight: 500;
      color: var(--color);
      position: absolute;
      top: -5%;
      left: 0;
      transition: font-size var(--transition-time), top var(--transition-time);
    }

    &:has(input.invalid) {
      border-width: 2px;
      border-color: var(--colors-semantic-error-base);
    }
  }

  @media (max-width: 600px) {
    &.big {
      --font-size-medium: 1.5rem;
      --top-active: -65%;
    }
  }
}