*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


    section.slidePromos {

    display: flex;
    gap: 2.5rem;


    div.promo-card{
        background-color: bisque;

        width: 25rem;
        height: 23.8rem;
        border-radius: 0.3rem;

        overflow: hidden;

        cursor: pointer;

            img{
        transition: filter, transform .4s ease-out 0s; 
    }

    img:hover{
         filter: contrast(101%) /*Aumenta o contraste da imagem*/;
         transform: scale(1.05) rotate(-0.1deg);
    }
    }


}



